<app-default-login-layout 
    title="Login into your account"
    primaryButtonText="Login Now"
    secondaryButtonText="Sing up Now" (submit)="submit()" (navigate)="navigate()" 
    [primaryButtonDisabled]="loginForm.invalid">

    <form [formGroup]="loginForm">
        <app-primary-input 
            formControlName = "email"
            type="email" 
            inputName="email"
            label="Email" 
            placeholder="johndoe@gmail.com">
            <img src="assets/svg/email-icon.svg" alt="Email Icon">
        </app-primary-input>        
        <span class="error-message" *ngIf="loginForm.get('email')?.errors as errors">
            <ng-container *ngIf="loginForm.get('email')?.dirty || loginForm.get('email')?.touched">
              <ng-container *ngIf="errors['required']">E-mail é obrigatório.</ng-container> <br />
              <ng-container *ngIf="errors['email']">Formato de e-mail inválido.</ng-container> <br />
              <ng-container *ngIf="errors['minlength']">E-mail deve ter pelo menos 5 caracteres.</ng-container>
            </ng-container>
        </span>
        <app-primary-input 
            formControlName = "password"
            type="password" 
            inputName="password"
            label="Your Password"
            [disabled]="loginForm.get('email')?.invalid ?? false">
            <img src="assets/svg/password-icon.svg" alt="Password Icon">
        </app-primary-input>

        <span>
            Forgot your password?
        </span>
    </form>
</app-default-login-layout>
