@import "./styles/variables.scss";
@import 'ngx-toastr/toastr';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;    
}

button{
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: transparent;
    padding: 12px 24px;
    cursor: pointer;
    &:disabled {
        opacity: 0.5;
    }
    &.btn-primary {
        background-color: $primary-color;
        color: white;
        box-shadow: 0 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
    }
    &.btn-secondary {
        border: 1px solid $primary-color;
        color: $primary-color;
    }
}

.error-message {
    color: $error-color !important;
    text-decoration: none !important;
    font-size: 14px;
    text-align: start !important;
}